In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [42]:
df = pd.read_csv("top_all.csv")

In [43]:
df.head()

,Price,BHK,beds,baths,balcony,covered-parking,Carpet Area,Developer,Project,Floor,Transaction type,Status,Lifts,Address,Furnishing,Flooring,Water Availability,Status of Electricity
0,₹6.0 Cr,3,3Beds,3Baths,NaN,1 Covered Parking,2300,DLF Ltd.,DLF One Midtown,NaN,New Property,Under Construction,2.0,"Moti Nagar, New Delhi - West, Delhi NCR",Semi-Furnished,Vitrified,24 Hours Available,No/Rare Powercut
1,₹4.75 Cr,3,3Beds,5Baths,NaN,2 Covered Parking,2250,Indus Home,Luxury Builder Floor,NaN,New Property,Ready to Move,NaN,"GK II, New Delhi - South, Delhi NCR",Semi-Furnished,NaN,24 Hours Available,No/Rare Powercut
2,₹4.50 Cr,3,3Beds,4Baths,NaN,1 Covered Parking,1872,Metro Buildtech,Premium Builder Floor,NaN,New Property,Ready to Move,NaN,"GK I, New Delhi - South, Delhi NCR",Semi-Furnished,"Vitrified, Wooden, Marble",24 Hours Available,No/Rare Powercut
3,₹1.70 Cr,3,3Beds,2Baths,4Balconies,1 Covered Parking,1450,Cooperative Group Housing Society,Nishat Apartment,3 (Out of 10 Floors),Resale,Ready to Move,2.0,"Dwarka Sector 19, New Delhi, Sector 19 Dwarka,...",Furnished,Marble,24 Hours Available,No/Rare Powercut
4,₹75.0 Lac,3,3Beds,3Baths,1Balcony,1 Covered Parking,1350,Delhi Development Authority DDA,DDA Freedom Fighter Enclave,3 (Out of 5 Floors),New Property,Ready to Move,NaN,"Freedom Fighter Enclave Saket New Delhi, Saket...",Semi-Furnished,"Vitrified, Ceramic Tiles",24 Hours Available,No/Rare Powercut

In [44]:
df.shape

(986, 18)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Price                  986 non-null    object
 1   BHK                    986 non-null    object
 2   beds                   986 non-null    object
 3   baths                  921 non-null    object
 4   balcony                715 non-null    object
 5   covered-parking        341 non-null    object
 6   Carpet Area            986 non-null    object
 7   Developer              307 non-null    object
 8   Project                357 non-null    object
 9   Floor                  972 non-null    object
 10  Transaction type       986 non-null    object
 11  Status                 927 non-null    object
 12  Lifts                  112 non-null    float64
 13  Address                986 non-null    object
 14  Furnishing             984 non-null    object
 15  Flooring               724 non-null    object
 16  Water Availability     579 non-null    object
 17  Status of Electricity  583 non-null    object
dtypes: float64(1), object(17)
memory usage: 138.8+ KB

In [46]:
df["Price"]

0        ₹6.0 Cr
1       ₹4.75 Cr
2       ₹4.50 Cr
3       ₹1.70 Cr
4      ₹75.0 Lac
         ...
981    ₹85.0 Lac
982    ₹32.0 Lac
983     ₹2.50 Cr
984    ₹50.0 Lac
985     ₹2.25 Cr
Name: Price, Length: 986, dtype: object

In [47]:
Price_Updated = []
for i in df["Price"]:
    i = i.replace("₹","")
    if "Cr" in i:
        i = i.replace("Cr", "* 10000000")
    if "Lac" in i:
        i = i.replace("Lac", "* 100000")
    i = i.split("*")
    float_i_0 = float(i[0])
    int_i_1 = int(i[-1])
    mul = round(float_i_0 * int_i_1)
    Price_Updated.append(mul)
df["Price_Updated"] = Price_Updated

In [48]:
df.head()

,Price,BHK,beds,baths,balcony,covered-parking,Carpet Area,Developer,Project,Floor,Transaction type,Status,Lifts,Address,Furnishing,Flooring,Water Availability,Status of Electricity,Price_Updated
0,₹6.0 Cr,3,3Beds,3Baths,NaN,1 Covered Parking,2300,DLF Ltd.,DLF One Midtown,NaN,New Property,Under Construction,2.0,"Moti Nagar, New Delhi - West, Delhi NCR",Semi-Furnished,Vitrified,24 Hours Available,No/Rare Powercut,60000000
1,₹4.75 Cr,3,3Beds,5Baths,NaN,2 Covered Parking,2250,Indus Home,Luxury Builder Floor,NaN,New Property,Ready to Move,NaN,"GK II, New Delhi - South, Delhi NCR",Semi-Furnished,NaN,24 Hours Available,No/Rare Powercut,47500000
2,₹4.50 Cr,3,3Beds,4Baths,NaN,1 Covered Parking,1872,Metro Buildtech,Premium Builder Floor,NaN,New Property,Ready to Move,NaN,"GK I, New Delhi - South, Delhi NCR",Semi-Furnished,"Vitrified, Wooden, Marble",24 Hours Available,No/Rare Powercut,45000000
3,₹1.70 Cr,3,3Beds,2Baths,4Balconies,1 Covered Parking,1450,Cooperative Group Housing Society,Nishat Apartment,3 (Out of 10 Floors),Resale,Ready to Move,2.0,"Dwarka Sector 19, New Delhi, Sector 19 Dwarka,...",Furnished,Marble,24 Hours Available,No/Rare Powercut,17000000
4,₹75.0 Lac,3,3Beds,3Baths,1Balcony,1 Covered Parking,1350,Delhi Development Authority DDA,DDA Freedom Fighter Enclave,3 (Out of 5 Floors),New Property,Ready to Move,NaN,"Freedom Fighter Enclave Saket New Delhi, Saket...",Semi-Furnished,"Vitrified, Ceramic Tiles",24 Hours Available,No/Rare Powercut,7500000

In [49]:
list1 = []
for a in df["beds"]:
    a = a.replace("Beds","")
    list1.append(a)

In [50]:
df["beds"] = list1

In [51]:
df["beds"].value_counts()

3    645
2    341
Name: beds, dtype: int64

In [52]:
df["balcony"].value_counts()

1Balcony      330
2Balconies    215
3Balconies    135
4Balconies     28
5Balconies      7
Name: balcony, dtype: int64

In [53]:
list2 = []
for b in df["balcony"]:
    b = str(b)
    b = b.replace("Balcony","")
    b = b.replace("Balconies","")
    list2.append(b)

In [54]:
df["balcony"] = list2

In [55]:
df["baths"].value_counts()

2Baths    530
3Baths    348
4Baths     41
5Baths      2
Name: baths, dtype: int64

In [56]:
list3 = []
for c in df["baths"]:
    c = str(c)
    c = c.replace("Baths","")
    list3.append(c)

In [57]:
df["baths"] = list3

In [58]:
df["baths"].value_counts()

2      530
3      348
nan     65
4       41
5        2
Name: baths, dtype: int64

In [64]:
df["covered-parking"].value_counts()

nan    645
1      255
2       79
3        5
24       1
5        1
Name: covered-parking, dtype: int64

In [72]:
list4 = []
for c in df["covered-parking"]:
    c = str(c)
    c = c.replace("Covered Parking","")
    c = int(c)
    list4.append(c)
df["covered-parking"] = list4

ValueError: invalid literal for int() with base 10: 'nan'

In [67]:
df["covered-parking"].dtype

dtype('O')

In [73]:
df["Status"].value_counts()

Ready to Move         925
Under Construction      2
Name: Status, dtype: int64

In [75]:
df.head(1)

,Price,BHK,beds,baths,balcony,covered-parking,Carpet Area,Developer,Project,Floor,Transaction type,Status,Lifts,Address,Furnishing,Flooring,Water Availability,Status of Electricity,Price_Updated
0,₹6.0 Cr,3,3,3,nan,1,2300,DLF Ltd.,DLF One Midtown,NaN,New Property,Under Construction,2.0,"Moti Nagar, New Delhi - West, Delhi NCR",Semi-Furnished,Vitrified,24 Hours Available,No/Rare Powercut,60000000