In [16]:
import numpy as np
import pandas as pd

In [28]:
df = pd.read_csv("df3.csv")

In [29]:
df.head()

,Unnamed: 0,Price,BHK,beds,baths,balcony,covered-parking,Carpet Area,Developer,Project,...,Transaction type,Status,Lifts,Address,Furnishing,Flooring,Water Availability,Status of Electricity,Price_Updated,BHK_2
0,0,60000000,3,3,3.0,NaN,1.0,2300,DLF Ltd.,DLF One Midtown,...,New Property,Under Construction,2,"Moti Nagar, New Delhi - West, Delhi NCR",Semi-Furnished,Vitrified,24 Hours Available,No/Rare Powercut,₹6.0 Cr,3
1,1,47500000,3,3,5.0,NaN,2.0,2250,Indus Home,Luxury Builder Floor,...,New Property,Ready to Move,0,"GK II, New Delhi - South, Delhi NCR",Semi-Furnished,NaN,24 Hours Available,No/Rare Powercut,₹4.75 Cr,3
2,2,45000000,3,3,4.0,NaN,1.0,1872,Metro Buildtech,Premium Builder Floor,...,New Property,Ready to Move,0,"GK I, New Delhi - South, Delhi NCR",Semi-Furnished,"Vitrified, Wooden, Marble",24 Hours Available,No/Rare Powercut,₹4.50 Cr,3
3,3,17000000,3,3,2.0,4.0,1.0,1450,Cooperative Group Housing Society,Nishat Apartment,...,Resale,Ready to Move,2,"Dwarka Sector 19, New Delhi, Sector 19 Dwarka,...",Furnished,Marble,24 Hours Available,No/Rare Powercut,₹1.70 Cr,3
4,4,7500000,3,3,3.0,1.0,1.0,1350,Delhi Development Authority DDA,DDA Freedom Fighter Enclave,...,New Property,Ready to Move,0,"Freedom Fighter Enclave Saket New Delhi, Saket...",Semi-Furnished,"Vitrified, Ceramic Tiles",24 Hours Available,No/Rare Powercut,₹75.0 Lac,3

In [30]:
new_df = df.iloc[:, :8]

In [48]:
new_df.head()

,Unnamed: 0,Price,BHK,beds,baths,balcony,covered-parking,Carpet Area
0,0,60000000,3,3,3.0,0.0,1.0,2300
1,1,47500000,3,3,5.0,0.0,2.0,2250
2,2,45000000,3,3,4.0,0.0,1.0,1872
3,3,17000000,3,3,2.0,4.0,1.0,1450
4,4,7500000,3,3,3.0,1.0,1.0,1350

In [42]:
new_df = new_df.fillna(0)

In [49]:
new_df['covered-parking'].astype(int)

0      1
1      2
2      1
3      1
4      1
      ..
980    0
981    1
982    0
983    0
984    0
Name: covered-parking, Length: 985, dtype: int32